[submodule "letalk-front"]
	path = letalk-front
	url = https://github.com/FLK-byte/letalkTest-front.git
[submodule "letalk-back"]
	path = letalk-back
	url = https://github.com/FLK-byte/letalkTest-back.git