[submodule "letalkTest-front"]
	path = letalkTest-front
	url = https://github.com/FLK-byte/letalkTest-front
[submodule "letalkTest-back"]
	path = letalkTest-back
	url = https://github.com/FLK-byte/letalkTest-back
